.flow-step {
    position: relative;
    margin-bottom: 2rem;
}

.div-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}


.flow-done, .flow-pending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flow-done {
    background-color: #fff;
}
.flow-pending {
    background-color: rgba(255, 255, 255, 0.8);
}
