.loading-frame-container {
    position: relative;
}

.loading-frame, .loading-frame-svg, #content-obscura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.loading-frame {
    z-index: 4;
}

.loading-frame-svg {
    z-index: 3;
    overflow: overlay;
}

#content-obscura {
    z-index: 2;
    background-color: #fff;
}

.loading-content {
    padding: 30px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.loading-frame-loading-bar {
    fill: none;
    stroke: transparent;
    stroke-width: 30px;
    stroke-dasharray: 10000;
}
